<div class="article__note">
  <p class="article__note-text">
          <b>Важно знать &nbsp;!</b> 
          <br>Чем более детально <b>«Уголовный адвокат»</b> будет разъяснять суть «защитной тактики и стратегии» в суде, тем меньше страхов и опасений останеться у Клиента.				
      </p>
</div> 

