<div class="article col col-4 col-d-6 col-t-12 grid__post">
  <div class="article__inner">
    <a
      class="article__image"
      href="/2018/11/13/that-which-does-not-kill-us-makes-us-stronger/"
    >
      <img
        class="lazy"
        data-src="/images/110.jpg"
        alt="That which does not kill us makes us stronger"
      />
    </a>

    <div class="article__content">
      <div class="article__meta">
        <span class="article__minutes">
          2 min read

          <time class="article__date" datetime="2018-11-13T12:01:35+00:00"
            >Nov 13, 2018</time
          >
        </span>
      </div>

      <h2 class="article__title">
        That which does not kill us makes us stronger
      </h2>

      <p class="article__excerpt">
        Sin tantum modo ad indicia veteris memoriae cognoscenda, curiosorum.
        Haec et tu ita posuisti, et verba vestra sunt. Idemne potest esse
        dies...
      </p>

      <div class="article__bottom">
        <div class="article__author">
          <a href="/about/" aria-label="Robert Wilson"
            ><img
              class="article__author-image lazy"
              data-src="/images/15.jpg"
              alt="Robert Wilson's Picture"
            />
          </a>
        </div>

        <div class="article__bottom-meta">
          <a href="/about/" class="article__author-link">Robert Wilson</a>

          <span>in</span>
          <span class="article-tags">
            <a href="/tag/Business" class="article__tag">Business</a>

            <a href="/tag/Work" class="article__tag">Work</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
