<div class="post__navigation">
      
  <a class="prev" href="/2018/04/24/Strive-not-to-be-a-success-but-rather-to-be-of-value/">
    <img class="post__nav-image lazy loaded" alt="Strive not to be a success, but rather to be of value" data-ll-status="loaded" src="/images/05.jpg">
    <div class="post__nav-box">
      <div class="post__nav post__nav__prev"><i class="ion ion-md-arrow-round-back"></i>Предыдущий пост</div>
      <h4 class="post__nav__title">Strive not to be a success, but rather to be of value</h4>
    </div>
  </a>
  
  
  <a class="next" href="/2018/10/31/the-way-i-see-it-every-life-is-a-pile-of-good-things/">
    <img class="post__nav-image lazy loaded" alt="The way I see it, every life is a pile of good things" data-ll-status="loaded" src="/images/11.jpg">
    <div class="post__nav-box">
      <div class="post__nav post__nav__next">Следующий пост<i class="ion ion-md-arrow-forward"></i></div>
      <h4 class="post__nav__title">The way I see it, every life is a pile of good things</h4>
    </div>
  </a>
  
</div>