<!-- Рекламный блок -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="disqus-inner">
        <div id="disqus_thread" class="post-comments">
          <div id="disqus_empty">
            <p>Блок для рекламы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #disqus_empty p{
    text-align: center;
  }
</style>