<div class="post__share">
  <div class="share__list">
    <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://norlin.netlify.app//2018/11/05/Believe-and-act-as-if-it-were-impossible-to-fail/" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>

    <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text=Believe%20and%20act%20as%20if%20it%20were%20impossible%20to%20fail&url=https://norlin.netlify.app//2018/11/05/Believe-and-act-as-if-it-were-impossible-to-fail/" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>

    <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url=https://norlin.netlify.app//2018/11/05/Believe-and-act-as-if-it-were-impossible-to-fail/&amp;media=https://norlin.netlify.app//images/10.jpg&amp;description=Believe%20and%20act%20as%20if%20it%20were%20impossible%20to%20fail" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest" rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
  </div>
</div>

<style>
  .post__share {
  display: flex;
  justify-content: center;
  margin: 64px 0;
}

.post__share .share__list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #17151E;
}

.post__share .share__list .share__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 24px;
  font-size: 20px;
  color: #eee;
  transition: all .2s;
}
</style>