<div 
class="fluid-width-video-wrapper" 
style="padding-top: 50%;">
  <iframe src="https://www.youtube.com/embed/FXpCECo2-uw" 
    frameborder="0" 
    allowfullscreen="" 
    name="fitvid0">
  </iframe>
</div>

