<div class="col col-4 col-d-6 col-t-12">
  <div class="widget widget-subscribe">
    <div class="widget__head">
      <h3 class="widget__title">Почтовая рассылка</h3>
    </div>
    <p class="subscribe-subtitle"></p><form
      class="subscribe-form validate"
      action="//frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&id=3038727cc3"
      method="POST"
      id="membedded-subscribe-form"
      name="membedded-subscribe-form"
      target="_blank"
      novalidate
    >
      <div class="subscribe-group">
        <div class="subscribe-group-top">
          <label class="screen-reader-text" for="mce-EMAIL">Введите Email</label
          >
          <input
            class="subscribe-email required email"
            id="mce-EMAIL"
            type="text"
            name="EMAIL"
            placeholder="Введите Email"
          />
          <button
            class="subscribe-button button button--primary"
            id="membedded-subscribe"
            type="submit"
            name="subscribe">Let's Go</button
          >
        </div>
      </div>
    </form>

  </div>
</div>

<style>
  .subscribe-subtitle {
    width: 100%;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #aaa;
  }
  .subscribe-group-top {
    display: flex;
    align-items: center;
  }
  .subscribe-group-top .subscribe-email {
    position: relative;
    width: 100%;
    height: 56px;
    padding: 20px;    
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
    background-color: #17151e;
    border: 2px solid transparent;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
    cursor: text;
  }
  .subscribe-group-top .subscribe-email::placeholder {
    color: #eee;
  }
  .subscribe-group-top .subscribe-email:focus {
    color: #fff;
    border-color: #ff7b7b;
  }
  .subscribe-group-top .subscribe-button {
    margin-left: 10px;
  }
</style>
